body{
    background-color: #FDF6EE;
    margin: 0;
    padding: 0;

}

.homepage{
    color: #f6a680; 
    font-family: 'GFSArtemisia', serif; 
    position: absolute; 
    top: 90px;
    left: 30px;  
    line-height: 0.3; 
}

.homepage h1{ 
    line-height: 1; 
    font-size: 6em; 
}

.homepage h3{
    font-size: 3em; 
}


.quote{ 
    color: #f6a680; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 1000;
    text-align: right; 
    font-size: 1.5em; 
    position: absolute; 
    top: 550px; 
    right: 30px;
}

.quote p {
    margin: 0; 
    line-height: 1.2; 
}

#arabic{
    font-weight: 1500;
    font-size: 2em;
    line-height: 1.2; 
    text-align: right;
    display: block;
    margin-left: auto; 
    margin-bottom: 5px;
}


.navbar ul {
    list-style-type: none; 
    background-color: #f8dac8;  
    margin: 0px;
    padding: 25px; 
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.navbar a{
    color: #f6a680;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5em;
    font-weight: 1000;
    text-decoration: none;
    padding: 15px;
    position: relative; 
    transition: color 0.3s ease-in-out; /*try and change*/
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #f6a680;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
    color: #d17a50;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar li{
    float: left; 
}

.icons{
    position: absolute;
    left: 10px;
    bottom: 620px;
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    color: #f6a680;
}

.aboutme {
    position: relative;
    top: 750px;
    padding-left: 200px; 
}

.aboutme h3{
    color: #f6a680; 
    font-family: 'GFSArtemisia', serif; 
    font-size: 3em;
    line-height: 0.3; 
    font-weight: 700;
}

.aboutme p{
    color: #f6a680; 
    font-family: 'Poppins', sans-serif; 
    font-size: 1em;
    line-height: 1.5; 
    font-weight: 700;
    padding-left: 50px;
}