body{
    background-color: #FDF6EE;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

.homepage{
    color: #f6a680; 
    font-family: 'GFSArtemisia', serif; 
    position: absolute; 
    top: 90px;
    left: 30px;  
    line-height: 0.3; 
}

.homepage h1{ 
    line-height: 1; 
    font-size: 6em; 
}

.homepage h3{
    font-size: 3em; 
}


.quote{ 
    color: #f6a680; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 1000;
    text-align: right; 
    font-size: 1.5em; 
    position: absolute; 
    top: 450px; 
    right: 30px;
}

#arabic{
    font-weight: 1500;
    font-size: 2em;
    line-height: 0; 
}


.navbar ul {
    list-style-type: none; 
    background-color: #f8dac8;  
    margin: 0px;
    padding: 25px; 
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.navbar a{
    color: #f6a680;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5em;
    font-weight: 1000;
    text-decoration: none;
    padding: 15px;
    position: relative; 
    transition: color 0.3s ease-in-out;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #f6a680;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
    color: #d17a50;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar li{
    float: left; 
}

.icons{
    position: absolute;
    left: 10px;
    top: -1px;
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    color: #f6a680;
}


.aboutme {
    margin-top: 700px;
    padding-left: 200px;
    position: absolute;
}

.aboutme h3{
    color: #f6a680;
    font-family: 'GFSArtemisia', serif;
    font-size: 3em;
    line-height: 0px;
}

.aboutme p{
    color: #f6a680;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding-left: 100px;
    line-height: 1.5;
}

.aboutme img {
    width: 25%;
    height: auto;
    float: right;
    margin-right: 50px;
    right: 30px;
    padding-right: 0;
    border: 3px solid #f6a680;
    border-radius: 10px;
}

.aboutme h6{ 
    color: #f6a680;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    padding-left: 850px;
}

.experiences {
    margin-top: 1300px;
    padding-left: 200px;
    position: absolute;
}

.experiences h3{
    color: #f6a680;
    font-family: 'GFSArtemisia', serif;
    font-size: 3em;
    line-height: 0;
}

.experiences li{
    color: #f6a680;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}
